*,*::after,*::before{
    box-sizing: border-box;
    margin: 0px;
}

body{
    background-image: url('https://images.unsplash.com/flagged/photo-1562222610-146443386cc4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.locationTag{
    padding-bottom: 1rem;
}

.getLocationContainer{
    width: 200px;
    margin-top: 5rem;
}

.btn{
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    background-color: white;
    position: relative;
}

.LocationInput{
    height: 26px;
    border: 0px;
    outline: none;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    padding-left: 10px;
    background-color: white;
}

.getLocationContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.mainContainer{
    width: 300px;
    background-color: white;
    color: black;
    opacity: 0.8;
    padding: 1rem;
}

.row{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 5px 0px;
}

.left{
    font-size: 3rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

img{
    width: 100px;
}

.row2{
    font-size: 2rem;
}

.leftData,.rightData{
    flex: 1;
}
.displayContainer{
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.row1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 13px;
}

.rightData{
    display: flex;
}
.discription{
    margin-left: 5px;
}

.hiddenMessage{
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
    border: 1px solid white;
    bottom: 25px;
    left: 25px;
    border-radius: 5px;
    display: none;
}

.btn:hover .hiddenMessage{
    display: block;
}

@media screen and (max-width: 376px) {
    .getLocationContainer{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 426px) {
    .getLocationContainer{
        margin-top: 3rem;
    }
}